<TabView androidTabsPosition="bottom" class="tab-view">

    <page-router-outlet
        *tabItem="{title: 'Pokémon', iconSource: getIconSource('pkmn')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Items', iconSource: getIconSource('pill')}"
        name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Favorites', iconSource: getIconSource('pokefav')}"
        name="searchTab">
    </page-router-outlet>

</TabView>
